<h3>Gacha Contents Tool リリースノート</h3>
<%= link_to 'ガチャ結果に戻る', gacha_contents_path, class: "uk-button uk-button-default" %>

<ul uk-accordion="multiple: true">
   <li>
    <a class="uk-accordion-title" href="#">ver.3.1 2018/12/10(月)</a>
    <div class="uk-accordion-content">
        <ul>
           <li>デフォルトで取得日が新しい順に並ぶようになりました</li>
        </ul>
    </div>
  </li>
  <li>
    <a class="uk-accordion-title" href="#">ver.3.0 2018/12/02(日)</a>
    <div class="uk-accordion-content">
        <ul>
           <li>個人のガチャ結果を閲覧できるようになりました</li>
           <li>ユーザー管理画面を変えました</li>
        </ul>
    </div>
  </li>
  <li>
    <a class="uk-accordion-title" href="#">ver.2.2 2018/11/30(金)</a>
    <div class="uk-accordion-content">
        <ul>
           <li>レア度、属性、何連？の取得方法を変更(enum使用)</li>
        </ul>
    </div>
  </li>
  <li>
    <a class="uk-accordion-title" href="#">ver.2.1 2018/11/28(水)</a>
    <div class="uk-accordion-content">
        <ul>
           <li>使用方法を追加</li>
           <li>編集・削除ボタンのサイズを調整</li>
        </ul>
    </div>
  </li>
  <li>
    <a class="uk-accordion-title" href="#">ver.2.0 2018/11/27(火)</a>
    <div class="uk-accordion-content">
        <ul>
          <li>リリースノート更新開始</li>
          <li>ページングできるようになりました。(bootstrap4使用)</li>
          <li>入力済みのガチャ結果の日付を保持できるようになりました。</li>
          <li>入力フォームの「何連？」種類を増やしました。</li>
        </ul>
    </div>
  </li>
  <li>
    <a class="uk-accordion-title" href="#">ver.1.0 2018/11/03(水)</a>
    <div class="uk-accordion-content">
      <ul>
        <li>Gacha Contents Toolの開発開始</li>
      </ul>
    </div>
  </li>
</ul>
